html, body {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

body .v-application, body #welcome {
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%,rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%,rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%,rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%,rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%,rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%,rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%) !important;
}

.logo {
    font-family: 'Lobster', sans-serif !important;
}

/* .box {
    background: rgba(0, 0, 0, .25);
    padding: 25px;
    border-radius: 10px;
} */

.v-alert {
    margin: 0 !important;
}

#welcome {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 80px !important;
}

.subtitle {
    font-size: 25px !important;
}

.links > a {
    color: #fff !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.m-t-sm {
    margin-top: 10px;
}

.button {
    border: solid 2px white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
}
